<ion-view view-title="Lights">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
      <button ng-click="sync()" class="button">Sync</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="light in lights"><span ng-bind="light.name"></span>
        <div ng-style="getStyleFromState( light.state )" class="color-indicator"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!--

<ion-view view-title="Lights">

  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <button ng-click="sync()" class="button" side="secondary">Sync</button>
  <h1 class="title">hue thesis</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="light in lights"><span ng-bind="light.name"></span>
        <div ng-style="getStyleFromState( light.state )" class="color-indicator"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

-->