<ion-view>
    <ion-header-bar align-title="center" class="bar-light bar-hue">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title" ng-bind="song.title"></h1>
    </ion-header-bar>

    <ion-content id="song-content"t>
        <ul>
            <li ng-repeat="h in history">
                {{ h.type }} ({{h.confidence}})
            </li>
        </ul>
        <div id="song-header" ng-show="song">
            <h1>{{ song.title }}</h1>
            <h2>by {{ song.artist }} </h2>
            <h4>{{ song.analysis.track.tempo }} bpm </h4>
            <h5>{{ secondsPassed }} ({{ lastTime }}) of {{ song.analysis.track.duration }}</h5>
        </div>
    </ion-content>

</ion-view>
