<ion-view>
    <ion-header-bar align-title="center" class="bar-positive bar-hue">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">hue thesis</h1>
    </ion-header-bar>

    <ion-content>
        <ul>
            <li ng-repeat="h in history" ng-bind="h.type"></li>
        </ul>
        <div id="song-header" ng-show="song">
            <h1>{{ :: song.title }}</h1>
            <h2>by {{ :: song.artist }} </h2>
        </div>
    </ion-content>

</ion-view>
